# Entorno virtual
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble

# Credenciales
.env

# Datos (se regeneran con el codigo, no se versionan)
F1/data/*
!F1/data/.gitkeep

F2/data/raw/*
!F2/data/raw/.gitkeep

F2/data/processed/*
!F2/data/processed/.gitkeep
